
#stats-container {
	color: white;
	background: #D7D9DB;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-bottom: 50px;
}

#stat-holder {
	border-right: 1px solid #999;
}

#post-title {
	width: 500px;
}

#post-content {
	width: 850px;
}

textarea {
	resize: none;
}

#post-btn {
	margin-top: 15px;
}
