
#stats-container {
	color: black;
	background: #EEF0F2;
	padding: 25px;
	text-align: center;
	margin-bottom: 50px;
	overflow: hidden;

}

#stats-container h5 {
	margin-top: 0px;
} 

#stats-container span {
	border-bottom: 1px dotted #999;
	padding-bottom: 2px;
}

#stat-holder {
	border-right: 1px solid #999;
}

#popular-posts {
	text-align: center; 
	margin-top: -25px;
}

#popular-posts h5 {
	display: inline-block; 
	text-align: center;
}

#popular-posts p {
	display: inline-block;
}

textarea {
	resize: none;
}

#post-btn {
	margin-top: 15px;
}
