#post-container, #comment-container {
	margin: 0 auto;
}

.mrg-btm-15{
	margin-bottom: 15px;
}

.mrg-btm-25{
	margin-bottom: 25px;
}

.mrg-top-10{
	margin-top: 10px;
}

.italic{
	font-style: italic;
}

.border{
	border: 1px black solid;
}