<div class="row" style="margin: 0 auto;">
	<div class="col-xs-12">
		<h3>Leave a comment</h3>
		<form action="" method="post">
			<textarea rows="7" class="form-control mrg-top-10" name="commentContent" id="post-content" placeholder="Have something to add?"></textarea><br>
			Signature<input type="text" class="form-control mrg-top-10" name="commentSignature" id="post-title" placeholder="John Doe"><br>
			<input type='hidden' name='commentParent' value='{{readmore}}'>
			<button type="submit" class="btn btn-info mrg-btm-15">Post</button>
		</form>
	</div>
</div>
