<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<form action="" method="post">
			Comment<textarea rows="7" class="form-control" name="content" id="post-content"></textarea><br>
			Signature<input type="text" class="form-control" name="title" id="post-title"><br>
			<button type="submit" class="btn btn-info" id="post-btn">Post</button>
		</form>
	</div>
</div>
