<div class="container-fluid" id="content-container">

	{# Stastics #}
	<h3>Statistics</h3>
	<div class="container-fluid" id="stats-container">
		<div class="row">
			<div class="col-xs-3" id="stat-holder">123</div>
			<div class="col-xs-3" id="stat-holder">200</div>
			<div class="col-xs-3" id="stat-holder">13.37</div>
			<div class="col-xs-3">12.0</div>
		</div>
	</div>

	{# Create new post #}
	<h3>Create new post</h3>
	<div class="container-fluid" id="form-container">
		<div class="row">
				<form action="" method="post">
					<span>Title</span><input type="text" class="form-control" name="title"><br>
					<span>Text</span><textarea rows="7" class="form-control" name="content" id="post-content-input">ASDSADSADSS</textarea>
					<button type="submit" class="btn btn-info" id="post-btn">Post</button>
				</form>
		</div>
	</div>

</div>


{# Previous posts #}
