<h1>wololololo</h1>


<form method="get" action="">
	<input type="submit" name="loadview" value="login">
</form>

<form method="get" action="">
	<input type="submit" name="loadview" value="landingpage">
</form>

<form method="get" action="">
	<input type="submit" name="loadview" value="dash">
</form>

