<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Phlogger</title>
</head>
<body>
	{% include "header.twig" %}

	{% if loadview == "login"  %}
		{% include "login.twig" %}
	{% endif %}
	{% if loadview == "dash" %}
		{% include "dash.twig" %}
	{% endif %}
	{% if loadview == "landingpage" %} 
		{% include "landingpage.twig" %}
	{% endif %}


</body>
</html>