<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	

	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/dashboard.css" />
	<link rel="stylesheet" href="css/footer.css" />
	<link rel="stylesheet" href="css/post.css" />
	
	<title>Phlogger</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% include "header.twig" %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">

				{% if loadview == "landingpage" %} 
				{% include "landingpage.twig" %}
				{% endif %}
				{% if loadview == "dashboard" %}
				{% include "dash.twig" %} 
				{% endif %}
				{% if loadview == "searchresults" %}
				{% include "searchresults.twig" %}
				{% endif %}
				
			</div>

				
		</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12" id="footer-container">
			{% include "footer.twig" %}
		</div>
	</div>
</div>

	</div>
</body>
</html>