<div class="row">
  <div class="col-xs-12">
   
    {% if readmore is not empty %}
      {% include "post.twig" %}
    {% else %}
      <div id="jumbo" class="jumbotron">
        <h2>Hello, world!</h2>
        <p>Welcome to proj2_gruppnamns <br> world of Phlogger</p>
        <p><a class="btn btn-info btn-sm" href="#" role="button">Learn more</a></p>
      </div>
    {% endif %}
    
    <h4>Browse posts by the most recently added tags: </h4>

      {% for tag in dataBase.tags %}
    <form class="tag-form" action="" method="get">
	<input  type="hidden" name="loadview" value="post">
        <button type="submit" name="readmore" value="{{ tag.id }}" class="tag-btn"> {{ tag.name }} </button>
    </form>
   {% endfor %}

  
    <div class="row more-tags-container">
      <div class="col-xs-12">
    <form class="" role="logout" action="" method="get">
        <button type="submit" class="btn btn-info btn-sm" name="tags" value="tags">Click here to view all tags</button>
    </form>
    </div>
    </div>

  <hr>

    <h2>Latest blog posts</h2>
      
    <div class="row">
      {% for post in dataBase.groupedPosts.0 %}
        {% include 'post_summary.twig' %}
      {% endfor %}
    </div>

  <div class="row">
    <div class="col-xs-12" id="footer-container">
      {% include "footer.twig" %}
    </div>
  </div>

  </div>
</div>
