<div class="row">
  <div class="col-xs-12">
   
    {% if readmore is not empty %}
      {% include "post.twig" %}
    {% else %}
      <div id="jumbo" class="jumbotron">
        <h2>Hello, world!</h2>
        <p>Welcome to proj2_gruppnamns <br> world of Phlogger</p>
        <p><a class="btn btn-info btn-sm" href="#" role="button">Learn more</a></p>
      </div>
    {% endif %}
    
    <h4 style="display:inline-block;">Browse posts by popular tags: </h4><p style="display:inline-block;"> &nbsp; 

    <form class="" role="logout" action="" method="get">
        <button type="submit" class="btn btn-info btn-sm" name="readmore" value="{{ tag.id }}">Read more</button>
    </form>Asdsa, Asdsa, Asdasda, Asdsad, Asdasd, Asdsa, Asdasdgfd</p>

    <h2>Latest blog posts</h2>
      
    <div class="row">
      {% for post in dataBase.groupedPosts.0 %}
        {% include 'post_summary.twig' %}
      {% endfor %}
    </div>
  </div>
</div>
