<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h3>Browse categories by tags</h3>
				{% for tag in tags %}
					 <form action="" method="get" style="display: inline-block;">
				        <button type="submit" name="readmore" value="{{ tag.id }}"> {{ tag.name }} </button>
				    </form>
				{% endfor %}
		</div>
	</div>
</div>